# GENERAL: TO DELETE

Found some crazy resources which will make our life much easier

> 1. [kaggle EEG Muse (meh)](https://www.kaggle.com/birdy654/eeg-brainwave-dataset-mental-state)
> 1. [Crazy code that makes literally 1000 features for you](https://github.com/jordan-bird/eeg-feature-generation)
> 1. [Explanation of features and their importance ans science and shite](https://link.springer.com/chapter/10.1007/978-3-030-29933-0_37)

-Almu

# Importing Libraries

In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
#import tensorflow as tf
#import tensorflow.keras as kr
import seaborn as sns
import os
#import scipy

# Importing the Raw Data

In [6]:
%%time


# Get Current Working directory and append the data relative dir
cwd = os.getcwd()
notTiredDir = cwd + r"\Data\Raw\NotTired"
tiredDir = cwd + r"\Data\Raw\Tired"

# Hold file locations
filesTired=[];
filesNotTired=[];

#Populate file location arrays
for file in os.listdir(notTiredDir):
    if file.endswith('.csv'):
        filesNotTired.append(os.path.join(notTiredDir, file))
for file in os.listdir(tiredDir):
        if file.endswith('.csv'):
            filesTired.append(os.path.join(tiredDir, file))
            
#Test reading files by changing num1
num1=6;
sample = pd.read_csv(filesNotTired[num1])
sample

Wall time: 46.9 ms

,TimeStamp,Delta_TP9,Delta_AF7,Delta_AF8,Delta_TP10,Theta_TP9,Theta_AF7,Theta_AF8,Theta_TP10,Alpha_TP9,...,Gyro_X,Gyro_Y,Gyro_Z,HeadBandOn,HSI_TP9,HSI_AF7,HSI_AF8,HSI_TP10,Battery,Elements
0,2021-11-01 17:54:38.045,1.110457,-0.382196,0.082630,0.743808,0.455723,-0.523256,0.086015,0.487615,0.493558,...,4.134674,-5.824432,-1.510315,1.0,1.0,2.0,1.0,1.0,70.0,NaN
1,2021-11-01 17:54:39.045,0.904642,-0.382196,0.236881,0.613098,0.313527,-0.523256,0.171247,0.546970,0.538756,...,4.329071,-2.990723,-1.644897,1.0,1.0,2.0,1.0,1.0,70.0,NaN
2,2021-11-01 17:54:39.187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/muse/elements/jaw_clench
3,2021-11-01 17:54:40.045,0.652124,-0.382196,0.462323,0.410327,0.293693,-0.523256,0.267178,0.466408,0.343593,...,5.622559,-5.099182,-0.732727,1.0,1.0,2.0,1.0,1.0,70.0,NaN
4,2021-11-01 17:54:41.043,0.558608,-0.382196,0.502156,0.877835,0.281408,-0.523256,0.337400,0.469669,0.381862,...,4.882355,-3.536530,-1.652374,1.0,1.0,2.0,1.0,1.0,70.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,2021-11-01 17:56:57.042,1.011459,-0.382196,0.502156,0.955036,0.456557,-0.523256,0.337400,0.439388,0.575279,...,5.510406,-7.880554,-2.257996,1.0,1.0,4.0,2.0,1.0,70.0,NaN
157,2021-11-01 17:56:57.111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/muse/elements/blink
158,2021-11-01 17:56:57.852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/muse/elements/blink
159,2021-11-01 17:56:58.042,1.011459,-0.382196,0.502156,0.955036,0.456557,-0.523256,0.337400,0.439388,0.575279,...,4.844971,-6.190796,-2.781372,1.0,1.0,4.0,4.0,1.0,70.0,NaN
160,2021-11-01 17:56:58.222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/muse/elements/blink

In [7]:
#Mini-Summary of Block
print(f"> {len(filesNotTired)} files were added from the NOT TIRED category")
print(f"> {len(filesTired)} files were added from the TIRED category\n")

> 22 files were added from the NOT TIRED category
> 10 files were added from the TIRED category

## Available Features

In [8]:
pd.DataFrame(sample.columns)

                  0
0         TimeStamp
1         Delta_TP9
2         Delta_AF7
3         Delta_AF8
4        Delta_TP10
5         Theta_TP9
6         Theta_AF7
7         Theta_AF8
8        Theta_TP10
9         Alpha_TP9
10        Alpha_AF7
11        Alpha_AF8
12       Alpha_TP10
13         Beta_TP9
14         Beta_AF7
15         Beta_AF8
16        Beta_TP10
17        Gamma_TP9
18        Gamma_AF7
19        Gamma_AF8
20       Gamma_TP10
21          RAW_TP9
22          RAW_AF7
23          RAW_AF8
24         RAW_TP10
25        AUX_RIGHT
26  Accelerometer_X
27  Accelerometer_Y
28  Accelerometer_Z
29           Gyro_X
30           Gyro_Y
31           Gyro_Z
32       HeadBandOn
33          HSI_TP9
34          HSI_AF7
35          HSI_AF8
36         HSI_TP10
37          Battery
38         Elements

## Raw Data Structure

In [9]:
sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 39 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TimeStamp        161 non-null    object
 1   Delta_TP9        141 non-null    float64
 2   Delta_AF7        141 non-null    float64
 3   Delta_AF8        141 non-null    float64
 4   Delta_TP10       141 non-null    float64
 5   Theta_TP9        141 non-null    float64
 6   Theta_AF7        141 non-null    float64
 7   Theta_AF8        141 non-null    float64
 8   Theta_TP10       141 non-null    float64
 9   Alpha_TP9        141 non-null    float64
 10  Alpha_AF7        141 non-null    float64
 11  Alpha_AF8        141 non-null    float64
 12  Alpha_TP10       141 non-null    float64
 13  Beta_TP9         141 non-null    float64
 14  Beta_AF7         141 non-null    float64
 15  Beta_AF8         141 non-null    float64
 16  Beta_TP10        141 non-null    float64
 17  Gamma_TP9        141 non-null    float64
 18  Gamma_AF7        141 non-null    float64
 19  Gamma_AF8        141 non-null    float64
 20  Gamma_TP10       141 non-null    float64
 21  RAW_TP9          141 non-null    float64
 22  RAW_AF7          141 non-null    float64
 23  RAW_AF8          141 non-null    float64
 24  RAW_TP10         141 non-null    float64
 25  AUX_RIGHT        141 non-null    float64
 26  Accelerometer_X  141 non-null    float64
 27  Accelerometer_Y  141 non-null    float64
 28  Accelerometer_Z  141 non-null    float64
 29  Gyro_X           141 non-null    float64
 30  Gyro_Y           141 non-null    float64
 31  Gyro_Z           141 non-null    float64
 32  HeadBandOn       141 non-null    float64
 33  HSI_TP9          141 non-null    float64
 34  HSI_AF7          141 non-null    float64
 35  HSI_AF8          141 non-null    float64
 36  HSI_TP10         141 non-null    float64
 37  Battery          141 non-null    float64
 38  Elements         20 non-null     object
dtypes: float64(37), object(2)
memory usage: 49.2+ KB

# Data Preprocessing

## Creating the RAW Dataset

In [14]:
%%time
## Extract rows 21-25 from all files as these are the only 5 relevent features

rowsTired=[];
for f in filesTired:
    for r in range(pd.read_csv(f).shape[0]):
        rowsTired.append(pd.read_csv(f).iloc[r,21:26])
        
rowsNotTired=[];
for f in filesNotTired:
    for r in range(pd.read_csv(f).shape[0]):
        rowsNotTired.append(pd.read_csv(f).iloc[r,21:26])

Wall time: 4min 27s

In [15]:
data_NT = pd.DataFrame(rowsNotTired);
data_T = pd.DataFrame(rowsTired);

print(f"Not Tired Data size is: \t{data_NT.shape}", f"\nTired Data size is: \t\t{data_T.shape}")

Not Tired Data size is: 	(9685, 5)
Tired Data size is: 		(10796, 5)

In [16]:
data_T

        RAW_TP9     RAW_AF7      RAW_AF8    RAW_TP10   AUX_RIGHT
0    782.893773  767.985348  1100.805861  799.413919  732.930403
1           NaN         NaN          NaN         NaN         NaN
2    790.549451  887.655678  1648.791209  809.487179  734.139194
3           NaN         NaN          NaN         NaN         NaN
4    755.494505    0.000000     0.000000  732.124542  565.714286
..          ...         ...          ...         ...         ...
452         NaN         NaN          NaN         NaN         NaN
453  845.347985  590.293040  1199.523810  852.197802  680.146520
454  811.501832  514.542125   695.457875  851.794872  835.677656
455         NaN         NaN          NaN         NaN         NaN
456  976.300366  660.805861   591.904762  872.344322  634.615385

[10796 rows x 5 columns]

## Tagging Data
Append the pertaining tag to each group.

## Initial Cleanup
As per the proposal, we first remove all the data that was processed via unknown parameters in the MuseMonitor App. This allows us finer control over the preprocessing and analysis techniques.

In [12]:
RAWdataset = pd.DataFrame();