# GENERAL: TO DELETE

Found some crazy resources which will make our life much easier

> 1. [kaggle EEG Muse (meh)](https://www.kaggle.com/birdy654/eeg-brainwave-dataset-mental-state)
> 1. [Crazy code that makes literally 1000 features for you](https://github.com/jordan-bird/eeg-feature-generation)
> 1. [Explanation of features and their importance ans science and shite](https://link.springer.com/chapter/10.1007/978-3-030-29933-0_37)

-Almu

# Importing Libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
#import tensorflow as tf
#import tensorflow.keras as kr
import seaborn as sns
import os
#import scipy

# Importing the Raw Data

In [2]:
%%time


# Get Current Working directory and append the data relative dir
cwd = os.getcwd()
notTiredDir = cwd + r"\Data\Raw\NotTired"
tiredDir = cwd + r"\Data\Raw\Tired"

# Hold file locations
filesTired=[];
filesNotTired=[];

#Populate file location arrays
for file in os.listdir(notTiredDir):
    if file.endswith('.csv'):
        filesNotTired.append(os.path.join(notTiredDir, file))
for file in os.listdir(tiredDir):
        if file.endswith('.csv'):
            filesTired.append(os.path.join(tiredDir, file))
            
#Test reading files by changing num1
num1=6;
sample = pd.read_csv(filesNotTired[num1])
sample

Wall time: 15.3 ms

,TimeStamp,Delta_TP9,Delta_AF7,Delta_AF8,Delta_TP10,Theta_TP9,Theta_AF7,Theta_AF8,Theta_TP10,Alpha_TP9,...,Gyro_X,Gyro_Y,Gyro_Z,HeadBandOn,HSI_TP9,HSI_AF7,HSI_AF8,HSI_TP10,Battery,Elements
0,2021-11-01 17:54:38.045,1.110457,-0.382196,0.082630,0.743808,0.455723,-0.523256,0.086015,0.487615,0.493558,...,4.134674,-5.824432,-1.510315,1.0,1.0,2.0,1.0,1.0,70.0,NaN
1,2021-11-01 17:54:39.045,0.904642,-0.382196,0.236881,0.613098,0.313527,-0.523256,0.171247,0.546970,0.538756,...,4.329071,-2.990723,-1.644897,1.0,1.0,2.0,1.0,1.0,70.0,NaN
2,2021-11-01 17:54:39.187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/muse/elements/jaw_clench
3,2021-11-01 17:54:40.045,0.652124,-0.382196,0.462323,0.410327,0.293693,-0.523256,0.267178,0.466408,0.343593,...,5.622559,-5.099182,-0.732727,1.0,1.0,2.0,1.0,1.0,70.0,NaN
4,2021-11-01 17:54:41.043,0.558608,-0.382196,0.502156,0.877835,0.281408,-0.523256,0.337400,0.469669,0.381862,...,4.882355,-3.536530,-1.652374,1.0,1.0,2.0,1.0,1.0,70.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,2021-11-01 17:56:57.042,1.011459,-0.382196,0.502156,0.955036,0.456557,-0.523256,0.337400,0.439388,0.575279,...,5.510406,-7.880554,-2.257996,1.0,1.0,4.0,2.0,1.0,70.0,NaN
157,2021-11-01 17:56:57.111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/muse/elements/blink
158,2021-11-01 17:56:57.852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/muse/elements/blink
159,2021-11-01 17:56:58.042,1.011459,-0.382196,0.502156,0.955036,0.456557,-0.523256,0.337400,0.439388,0.575279,...,4.844971,-6.190796,-2.781372,1.0,1.0,4.0,4.0,1.0,70.0,NaN
160,2021-11-01 17:56:58.222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/muse/elements/blink

In [3]:
#Mini-Summary of Block
print(f"> {len(filesNotTired)} files were added from the NOT TIRED category")
print(f"> {len(filesTired)} files were added from the TIRED category\n")

> 22 files were added from the NOT TIRED category
> 10 files were added from the TIRED category

## Available Features

In [4]:
pd.DataFrame(sample.columns)

                  0
0         TimeStamp
1         Delta_TP9
2         Delta_AF7
3         Delta_AF8
4        Delta_TP10
5         Theta_TP9
6         Theta_AF7
7         Theta_AF8
8        Theta_TP10
9         Alpha_TP9
10        Alpha_AF7
11        Alpha_AF8
12       Alpha_TP10
13         Beta_TP9
14         Beta_AF7
15         Beta_AF8
16        Beta_TP10
17        Gamma_TP9
18        Gamma_AF7
19        Gamma_AF8
20       Gamma_TP10
21          RAW_TP9
22          RAW_AF7
23          RAW_AF8
24         RAW_TP10
25        AUX_RIGHT
26  Accelerometer_X
27  Accelerometer_Y
28  Accelerometer_Z
29           Gyro_X
30           Gyro_Y
31           Gyro_Z
32       HeadBandOn
33          HSI_TP9
34          HSI_AF7
35          HSI_AF8
36         HSI_TP10
37          Battery
38         Elements

## Raw Data Structure

In [5]:
sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 39 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TimeStamp        161 non-null    object
 1   Delta_TP9        141 non-null    float64
 2   Delta_AF7        141 non-null    float64
 3   Delta_AF8        141 non-null    float64
 4   Delta_TP10       141 non-null    float64
 5   Theta_TP9        141 non-null    float64
 6   Theta_AF7        141 non-null    float64
 7   Theta_AF8        141 non-null    float64
 8   Theta_TP10       141 non-null    float64
 9   Alpha_TP9        141 non-null    float64
 10  Alpha_AF7        141 non-null    float64
 11  Alpha_AF8        141 non-null    float64
 12  Alpha_TP10       141 non-null    float64
 13  Beta_TP9         141 non-null    float64
 14  Beta_AF7         141 non-null    float64
 15  Beta_AF8         141 non-null    float64
 16  Beta_TP10        141 non-null    float64
 17  Gamma_TP9        141 non-null    float64
 18  Gamma_AF7        141 non-null    float64
 19  Gamma_AF8        141 non-null    float64
 20  Gamma_TP10       141 non-null    float64
 21  RAW_TP9          141 non-null    float64
 22  RAW_AF7          141 non-null    float64
 23  RAW_AF8          141 non-null    float64
 24  RAW_TP10         141 non-null    float64
 25  AUX_RIGHT        141 non-null    float64
 26  Accelerometer_X  141 non-null    float64
 27  Accelerometer_Y  141 non-null    float64
 28  Accelerometer_Z  141 non-null    float64
 29  Gyro_X           141 non-null    float64
 30  Gyro_Y           141 non-null    float64
 31  Gyro_Z           141 non-null    float64
 32  HeadBandOn       141 non-null    float64
 33  HSI_TP9          141 non-null    float64
 34  HSI_AF7          141 non-null    float64
 35  HSI_AF8          141 non-null    float64
 36  HSI_TP10         141 non-null    float64
 37  Battery          141 non-null    float64
 38  Elements         20 non-null     object
dtypes: float64(37), object(2)
memory usage: 49.2+ KB

# Data Preprocessing

## Creating the RAW Dataset

In [6]:
%%time
## Extract rows 21-25 from all files as these are the only 5 relevent features

rowsTired=[];
for f in filesTired:
    for r in range(pd.read_csv(f).shape[0]):
        rowsTired.append(pd.read_csv(f).iloc[r,[0, 21,22,23,24,25]])
        
rowsNotTired=[];
for f in filesNotTired:
    for r in range(pd.read_csv(f).shape[0]):
        rowsNotTired.append(pd.read_csv(f).iloc[r,[0, 21,22,23,24,25]])

Wall time: 3min 9s

In [7]:
data_NT = pd.DataFrame(rowsNotTired);
original_NT = data_NT.copy();
data_NT

,TimeStamp,RAW_TP9,RAW_AF7,RAW_AF8,RAW_TP10,AUX_RIGHT
0,2021-11-01 17:27:27.362,792.967033,811.904762,769.194139,788.937729,680.549451
1,2021-11-01 17:27:28.362,751.465201,770.805861,780.879121,803.846154,799.816850
2,2021-11-01 17:27:29.362,747.435897,827.619048,793.369963,802.234432,906.190476
3,2021-11-01 17:27:30.371,838.901099,803.040293,803.443223,795.787546,817.142857
4,2021-11-01 17:27:31.366,809.890110,780.476190,798.205128,743.406593,785.311355
...,...,...,...,...,...,...
1666,2021-11-02 22:14:34.024,821.575092,778.058608,818.351648,836.080586,809.487179
1667,2021-11-02 22:14:35.026,773.626374,778.461538,813.113553,797.399267,712.783883
1668,2021-11-02 22:14:36.024,776.849817,800.219780,793.369963,803.040293,482.307692
1669,2021-11-02 22:14:37.024,812.307692,796.996337,788.937729,805.054945,712.783883
1670,2021-11-02 22:14:38.031,804.249084,788.937729,793.369963,799.010989,527.435897

In [8]:
data_T = pd.DataFrame(rowsTired);
original_T = data_T.copy();
data_T

,TimeStamp,RAW_TP9,RAW_AF7,RAW_AF8,RAW_TP10,AUX_RIGHT
0,2021-11-11 00:54:16.918,782.893773,767.985348,1100.805861,799.413919,732.930403
1,2021-11-11 00:54:17.318,NaN,NaN,NaN,NaN,NaN
2,2021-11-11 00:54:17.920,790.549451,887.655678,1648.791209,809.487179,734.139194
3,2021-11-11 00:54:18.686,NaN,NaN,NaN,NaN,NaN
4,2021-11-11 00:54:18.929,755.494505,0.000000,0.000000,732.124542,565.714286
...,...,...,...,...,...,...
452,2021-11-12 06:29:34.149,NaN,NaN,NaN,NaN,NaN
453,2021-11-12 06:29:34.364,845.347985,590.293040,1199.523810,852.197802,680.146520
454,2021-11-12 06:29:35.364,811.501832,514.542125,695.457875,851.794872,835.677656
455,2021-11-12 06:29:35.788,NaN,NaN,NaN,NaN,NaN
456,2021-11-12 06:29:36.367,976.300366,660.805861,591.904762,872.344322,634.615385

In [9]:
print(f"Not Tired Data size is: \t{data_NT.shape}", f"\nTired Data size is: \t\t{data_T.shape}")

Not Tired Data size is: 	(9685, 6)
Tired Data size is: 		(10796, 6)

## Tagging Data
Append the pertaining tag to each group.

In [10]:
#Conserve headers
headers = original_NT.columns.values.tolist()

#Stack ones or zeros for each class [0 = NotTired, 1 = Tired]
data_T = pd.DataFrame(np.hstack((data_T.to_numpy(),   np.ones((data_T.shape[0], 1)) )))
data_NT= pd.DataFrame(np.hstack((data_NT.to_numpy(), np.zeros((data_NT.shape[0], 1)))))

In [11]:
#Reattach headers
data_T.columns =  np.hstack((headers, ['Target']));
data_NT.columns = np.hstack((headers, ['Target']));

#Check
data_NT

,TimeStamp,RAW_TP9,RAW_AF7,RAW_AF8,RAW_TP10,AUX_RIGHT,Target
0,2021-11-01 17:27:27.362,792.967033,811.904762,769.194139,788.937729,680.549451,0.0
1,2021-11-01 17:27:28.362,751.465201,770.805861,780.879121,803.846154,799.81685,0.0
2,2021-11-01 17:27:29.362,747.435897,827.619048,793.369963,802.234432,906.190476,0.0
3,2021-11-01 17:27:30.371,838.901099,803.040293,803.443223,795.787546,817.142857,0.0
4,2021-11-01 17:27:31.366,809.89011,780.47619,798.205128,743.406593,785.311355,0.0
...,...,...,...,...,...,...,...
9680,2021-11-02 22:14:34.024,821.575092,778.058608,818.351648,836.080586,809.487179,0.0
9681,2021-11-02 22:14:35.026,773.626374,778.461538,813.113553,797.399267,712.783883,0.0
9682,2021-11-02 22:14:36.024,776.849817,800.21978,793.369963,803.040293,482.307692,0.0
9683,2021-11-02 22:14:37.024,812.307692,796.996337,788.937729,805.054945,712.783883,0.0
9684,2021-11-02 22:14:38.031,804.249084,788.937729,793.369963,799.010989,527.435897,0.0

## Remove Empty Rows

In [12]:
data_T = data_T.dropna()

In [13]:
data_NT = data_NT.dropna()

## Convert Datetime Column to Timestamps

In [14]:
from datetime import datetime

ind = 0;
for time in data_T.iloc[:, 0]:
    tmstmp = datetime.strptime(str(time), '%Y-%m-%d %H:%M:%S.%f').timestamp()
    data_T.iat[ind, 0] = (tmstmp);
    ind=ind+1;
    
ind = 0;
for time in data_NT.iloc[:, 0]:
    tmstmp = datetime.strptime(str(time), '%Y-%m-%d %H:%M:%S.%f').timestamp()
    data_NT.iat[ind, 0] = (tmstmp);
    ind=ind+1;

In [64]:
data_NT.head()

,TimeStamp,RAW_TP9,RAW_AF7,RAW_AF8,RAW_TP10,AUX_RIGHT,Target
0,1635812847.362,792.967033,811.904762,769.194139,788.937729,680.549451,0.0
1,1635812848.362,751.465201,770.805861,780.879121,803.846154,799.81685,0.0
2,1635812849.362,747.435897,827.619048,793.369963,802.234432,906.190476,0.0
3,1635812850.371,838.901099,803.040293,803.443223,795.787546,817.142857,0.0
4,1635812851.366,809.89011,780.47619,798.205128,743.406593,785.311355,0.0

## Save RAW Data to File

In [17]:
savelocT = cwd + r"\Data\Preprocessed\Tired.csv"
savelocNT = cwd + r"\Data\Preprocessed\NotTired.csv"

if os.path.exists(savelocT):
    os.remove(savelocT)
    
if os.path.exists(savelocNT):
    os.remove(savelocNT)

data_T.iloc[:,:-1].to_csv(savelocT,  mode='w')
data_NT.iloc[:,:-1].to_csv(savelocNT,mode='w')

from eegFG import EEG_feature_extraction as FG

x, y = FG.generate_feature_vectors_from_samples(file_path=savelocT,
                                         nsamples=50, 
                                         period=10, 
                                         remove_redundant=True, 
                                         cols_to_ignore=None)

#state=data_NT.iloc[:,-1]

In [98]:
from eegFG import EEG_feature_extraction as FG

x, y = FG.generate_feature_vectors_from_samples(file_path=savelocT,
                                         nsamples=50, 
                                         period=10,
                                         #state=data_NT.iloc[:,-1],
                                         slide_percent=0.20,
                                         remove_redundant=False, 
                                         cols_to_ignore=None)

In [102]:
X = pd.DataFrame(x)
X.columns = np.hstack((['TimeStamp'], y))
X.describe()

,TimeStamp,lag1_mean_0,lag1_mean_1,lag1_mean_2,lag1_mean_3,lag1_mean_4,lag1_mean_5,lag1_mean_d_h2h1_0,lag1_mean_d_h2h1_1,lag1_mean_d_h2h1_2,...,freq_156_5,freq_167_5,freq_177_5,freq_188_5,freq_198_5,freq_208_5,freq_219_5,freq_229_5,freq_240_5,freq_250_5
count,3.800000e+01,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,...,3.800000e+01,3.800000e+01,3.800000e+01,3.800000e+01,3.800000e+01,3.800000e+01,3.800000e+01,3.800000e+01,3.800000e+01,3.800000e+01
mean,1.636621e+09,848.762715,787.992029,991.423957,823.823722,788.484878,2.736121,-49.436506,2.766599,14.470150,...,4.556199e-17,1.448638e-17,1.498775e-17,1.337518e-17,1.507826e-17,3.229532e-17,1.800868e-17,1.519145e-17,1.381352e-17,1.674857e-17
std,1.575700e+01,130.910410,276.346249,263.424440,127.735237,48.709843,0.970911,310.031890,439.673633,295.317983,...,3.362676e-17,7.939792e-18,7.518413e-18,7.328279e-18,8.379182e-18,3.781975e-17,1.067932e-17,8.451582e-18,7.600122e-18,1.026628e-17
min,1.636621e+09,620.781441,350.818071,532.069597,522.600733,638.443223,0.814137,-666.001499,-796.245239,-1019.815487,...,0.000000e+00,1.290765e-18,3.952675e-18,2.710177e-18,2.592922e-19,0.000000e+00,7.617750e-19,3.408728e-18,3.676037e-18,2.734624e-18
25%,1.636621e+09,777.718636,577.516789,807.673993,787.061584,767.368361,1.829928,-71.350732,-282.948473,-93.858581,...,2.088233e-17,7.750466e-18,8.864022e-18,7.859172e-18,9.601160e-18,0.000000e+00,1.218404e-17,9.307644e-18,8.873787e-18,1.094300e-17
50%,1.636621e+09,793.750509,707.923535,947.742674,802.407117,808.433085,3.150339,-7.164989,-0.013546,-2.349218,...,4.176465e-17,1.377403e-17,1.380713e-17,1.102311e-17,1.335082e-17,2.088233e-17,1.636983e-17,1.227536e-17,1.145087e-17,1.475390e-17
75%,1.636621e+09,860.751679,967.486264,1080.873397,839.359992,817.957712,3.403910,16.756218,240.637844,116.659818,...,5.705360e-17,2.026480e-17,2.002156e-17,1.940954e-17,2.134498e-17,6.395395e-17,2.568606e-17,1.893881e-17,1.567397e-17,1.945956e-17
max,1.636621e+09,1152.985348,1510.989011,1622.097070,1150.097680,851.996337,3.896908,1189.085350,1061.850803,1031.389264,...,1.680897e-16,3.261721e-17,3.680630e-17,2.886397e-17,3.352612e-17,1.224354e-16,4.805711e-17,3.582937e-17,3.337094e-17,4.093389e-17

## Initial Cleanup
As per the proposal, we first remove all the data that was processed via unknown parameters in the MuseMonitor App. This allows us finer control over the preprocessing and analysis techniques.

In [ ]:
RAWdataset = pd.DataFrame();

In [58]:
# #reset data
# data_T = original_T.copy();
# data_NT = original_NT.copy();

from importlib import reload
reload(FG)